<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>{% block title %}{% endblock title %}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- fevicon -->
  <link rel="icon" href=" {% static 'images/fevicon.png' %} " type="image/gif" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- style css -->
  <link rel="stylesheet" href=" {% static 'css/style.css' %}">
  <!-- Responsive-->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">  
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href=" {% static 'css/jquery.mCustomScrollbar.min.css' %} ">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo d-none d-sm-block ">
                    <a href="index.html">
                      <img src="{% static 'images/logo.png' %}" alt="#" width="90px" height="90px" />
                      <span style="font-size: medium; color: black;">SINCE 2003</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">
              <div class="header_information">
               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href=" {% url 'home' %}">Home</a> </li>
                      <li> <a href="#courses">Blog </a> </li>
                      <li> <a href="#about">About us</a> </li>
                      <li> <a href="#learn">Results</a> </li>
                      <li> <a href=" {% url 'gallery' %} ">Gallery</a> </li>
                      <li> <a href="#contact">Contact</a> </li>
                     </ul>
                   </nav>
                 </div>
               </div> 
               <div class="mean-last">
                       <a href="#"><img src="{% static 'images/search_icon.png' %}" alt="#" /></a> <a href=" {% url 'logout' %} ">logout</a></div>              
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->

     <!-- end header -->
     {% block content %}{% endblock content %}



    <!--  footer -->
    <footr>
      <div class="footer ">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <form class="news">
                <input class="newslatter" placeholder="Email" type="text" name=" Email">
                <button class="submit">Subscribe</button>
              </form>
            </div>
            <div class="col-md-12">
              <h2>Newsletter</h2>
              <span>Rainbow School is the most prestigious primary school in the city of Dschang. Building on a proud tradition, rainbow school complex fosters excellence in its students, providing a meaningful and fulfilling education across three campuses. SUBSCRIBE TO OUR NEWSLETTER AND DON'T MISS A CONTENT ANYMORE</span>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                  <div class="address">
                    <h3>Contact us </h3>
                    <ul class="loca">
                      <li>
                        <a href="#"><img src=" {% static 'icon/loc.png' %}" alt="#" /></a>Dschang
                        <br>Letsa-Foto</li>
                        <li>
                          <a href="#"><img src="{% static 'icon/email.png' %}" alt="#" /></a>raibicol.123@gmail.com</li>
                          <li>
                            <a href="#"><img src="{% static 'icon/call.png' %}" alt="#" /></a>+237682858251 </li>
                          </ul>
                          <ul class="social_link">
                            <li><a href="#"><img src="{% static 'icon/fb.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'icon/tw.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'icon/lin(2).png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'icon/instsgram.png' %}"></a></li>
                          </ul>

                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                          <h3>Sections</h3>
                          <ul class="Menu_footer">
                            <li class="active"> <a href="#">RAIBICOL</a> </li>
                            <li><a href="#">Rainbow Foto</a> </li>
                            <li><a href="#">Rainbow foreke Frecha dn English </a> </li>
                            <li><a href="#">Rainbow nursery</a> </li>
                            <li><a href="#">Rainbow daycare</a> </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                          <h3>Information</h3>
                          <ul class="Links_footer">
                            <li class="active"><a href="#">Campus Tour</a> </li>
                            <li><a href="#">Student Lifes</a> </li>
                            <li><a href="#">Fees</a> </li>
                            <li><a href="#"> Admission</a> </li>
                            <li><a href="#">Leadership</a> </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6 col-sm-6 ">
                        <div class="address">
                          <a href="index.html"> <img src="{% static 'images/logo.png' %}" alt="logo" height="100px"></a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="copyright">
                <div class="container">
                  <p>Copyright © 2023 RAINBOW COMPLEX, Ltd. All Rights Reserved. 
                    <br>Design: <a href="https://www.linkedin.com/in/saah-brice" target="_parent">SaahBrice</a></p>
                </div>
              </div>
            </div>
          </footr>
          <!-- end footer -->
          <!-- Javascript files-->
          <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/popper.min.js' %}"></script>
          <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
          <script src=" {% static 'js/jquery-3.0.0.min.js' %}"></script>
          <script src="{% static 'js/plugin.js' %}"></script>
          <!-- sidebar -->
          <script src=" {% static 'js/jquery.mCustomScrollbar.concat.min.js' %} "></script>
          <script src="{% static 'js/custom.js' %}"></script>
          <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


          <script>
// This example adds a marker to indicate the position of Bondi Beach in Sydney,
// Australia.
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: {
      lat: 40.645037,
      lng: -73.880224
    },
  });

  var image = 'images/maps-and-flags.png';
  var beachMarker = new google.maps.Marker({
    position: {
      lat: 40.645037,
      lng: -73.880224
    },
    map: map,
    icon: image
  });
}
</script>
<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->



</body>

</html>