{% extends 'frontend/index.html' %}
{% load static %}
{% block title %}
    Rainbow School Complex Dschang
{% endblock title %}

{% block content %}

<section class="slider_section">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="container-fluid padding_dd">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="text-bg">
                    <h1>RAINBOW BILINGUAL SCHOOL COMPLEX</h1>
                    <p>Our dream was and remains to have a school where both the children of the rich and the poor could Study together in a good atmosphere.
                      <br>
                      This dream has become a reality.
                      <br>
                      <span style="color: black; font-family: cursive;">We are changing the game since 2003</span>
                    </p>
                    <a href="#about">Read more</a> <a href="#contact">Apply now</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="images_box">
                    <figure><img src="{% static 'images/1.png' %}"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">

          <div class="container-fluid padding_dd">
            <div class="carousel-caption">

              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="text-bg">
                    <h1>MORAL AND QUALITY EDUCATION FOR ALL</h1>
                    <p>Rainbow Bilingual School Complex is an educational Eldorado in the city of Dschang, offering Moral and Quality education (from kindergarten to High School) to children of both the rich and the poor.</p>
                    <a href="#about">Read more</a><a href="#contact">Apply now</a>
                  </div>
                </div>

                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="images_box">
                    <figure><img src="{% static 'images/2.png' %}"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="carousel-item">

          <div class="container-fluid padding_dd">
            <div class="carousel-caption ">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="text-bg">
                    <h1>TOP NOTCH FACILITIES</h1>
                    <p>Our buildings are clean, well-lit, and kept at a comfortable temperature through aeration.There is access to clean water.Our school grounds include access to play space.</p>
                    <a href="#about">Read more</a> <a href="#contact">Apply now</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="images_box">
                    <figure><img src="{% static 'images/3.png' %}"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>
</div>
</header>



<!-- about  -->
<div id="about" class="about">
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-box">
        <h2>About <strong class="yellow">Us</strong></h2>
        <p> Rainbow School Complex is an educational Eldorado in the city of Dschang, offering moral and quality education (from kindergarten to secondary) to children of both the rich and the poor.
          Our dream was and remains to have a school where both the children of the rich and the poor could Study together in a good atmosphere. This dream has become a reality.
          Drawing on more than 5 years of tradition and success, we have a contemporary outlook defined by excellence and inclusion. Today we offer a broad and challenging curriculum, and a comprehensive co-curricular programme, which encourages students to develop their own identities, strengths and pathways to achievement.
          </p>
          <div id="collapseContent" class="collapse">
            <p>We believe in building the capacity to seek understanding and achieve goals beyond standard measures. This is why we offer an approach to learning that educates the whole person, providing a rich learning environment that encourages academic, social, physical, emotional and spiritual growth. As our students learn to value this deeper connection with knowledge, we intend for them to also grow a strong sense of moral purpose, guided by our School values. These values aim to instill an appreciation of ‘giving back’ in each individual and an understanding of the many forms this can take throughout life.

              We are interested in what growth and success looks like for each individual. For students to successfully move along their own learning pathway, we recognise that our approach must be flexible and responsive to developmental stages and learning challenges. We continuously encourage students to exceed others’ expectations – and their own expectations of themselves. Our task is to look at the combined skills and attributes of each student and ask: how far can this person reach?
              <h6>History</h6>
              
              The story of Rainbow school goes as far back as 1993 after our wedding in Bonn. I succeeded my father as the chief of Bellah, a village in Fontem Cameroon, when I was a student of pedagogy in the university of Bonn in 1991. In 1993, I got married to Morene Tazitabong. She also studied pedagogy in Cologne - Germany. We were more certain than not, that at the end of our studies, we were to return home so as to help build our country in the area of EDUCATION, which gives the base for all other development. I visited Cameroon many times as a student and realized that the job market was very tight. On returning to Germany from one of such trips in 1997
              
              we started with the preparations and feasibility studies of opening a private school.
              
              Dschang with its Mediterranean climate (1600m above sea level), an area with very high birth rate and a university town without a bilingual Kindergarten and primary school at that time, we decided to settle there. Dschang is near Fontem, where we come from. In course of studying our marriage was blessed with four children. Now proud to be parents of five children, the youngest is five years old.
              
              After our graduation, we left Bonn-Germany as a family in August 2000 for Dschang-Cameroon.
              
              Dschang was to become our new home especially for our children with many cultural shocks. To get a large piece of land and documents needed to run the school took longer time than we estimated. The concept of time in this part of the world is different. In other not to lose time, we opened an off license to be selling drinks while waiting. Where to get money for the buying of land and construction of classrooms was another source of worry.
              
              We created a non profit making common initiative group called BENCIG with 4 major areas of activities:
              
              <ul>
                <li>to educate children at an affordable price</li>
                  <li>to provide good drinking water for Bellah village</li>
                  <li>to provide electricity locally for Bellah village</li>
                  <li>to provide basic health facilities for Bellah village and her neighbours</li>
              </ul>
              
              All these as our little contribution for the welfare of our people and our country at large.
              
              In 2001 we bought land and constructed the first five classrooms and in Sept.2003 the first 93 pupils were admitted into Kindergarten 1& 2 as well as primary one.
              
              We went on progressively and in June 2009 Rainbow sent out the first batch with 100% success both at the Government Common Entrance & First School Living Certificate Examinations with the highest number of Children on the honored list in the West Region of Cameroon.
              
              The second batch of June 2010 repeated the same success: making Rainbow School to continuously keep the flag as the most outstanding primary school in the West Region of Cameroon.
              
              Our school started in Foreke, which is in the South of Dschang town and after three years of operation, many parents came from the northern part of the town, which is also thickly populated, and complained that they loved our school but the distance was too long for their children. Most of them did not have the bus fee (31.000frs.CFA per year: about € 46) that was needed for the transportation of their children.
              
              As a result we started with the construction of the second Rainbow Kindergarten & primary school there in Foto-Dschang. </p>
          </div>
        <a href="Javascript:void(0)" data-toggle="collapse" data-target="#collapseContent">Read more</a>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-box">
        <figure><img src=" {% static 'images/10.jpg' %} " alt="#" /></figure>
      </div>
    </div>
  </div>

</div>
</div>
<!-- end abouts -->



<!-- our -->
<div id="important" class="important">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="titlepage">
        <h2>Some <strong class="yellow">important facts</strong></h2>
        <span>Rainbow School is there for all. We offer holistic education. We also train the students to be exemplary citizens of tomorrow.</span>
      </div>
    </div>
  </div>
</div>
<div class="important_bg">
  <div class="container">
    <div class="row">

      <div class="col col-xs-12">
        <div class="important_box">
          <h3>50+</h3>
          <span>Teachers</span>
        </div>
      </div>
      <div class="col col-xs-12">
        <div class="important_box">
          <h3>7</h3>
          <span>Schools</span>
        </div>
      </div>
      <div class="col col-xs-12">
        <div class="important_box">
          <h3>200+</h3>
          <span>Students</span>
        </div>
      </div>
      <div class="col col-xs-12">
        <div class="important_box">
          <h3>100%</h3>
          <span>success rate/year</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- end our -->
<!-- Courses -->
<div id="courses" class="Courses">
<div class="container-fluid padding_left3">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="box_bg">
        <div class="box_bg_img">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src=" {% static 'images/4.jpg' %} " ></figure>
                <div class="overlay">
                  <h3>Rainbow Daycare</h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/5.jpg' %}"></figure>
                <div class="overlay">
                  <h3>Rainbow Nursery</h3>
                  <p>
                    Our learning approach is inquiry-based, creating a strong foundation for project-based learning.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/6.jpg' %}"></figure>
                <div class="overlay">
                  <h3>Rainbow Foto&Foreke</h3>
                  <p>Our two Bilingual Primary Schools welcome students of all regions without any descrimination.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/7.jpg' %}"></figure>
                <div class="overlay">
                  <h3>Rainbow College</h3>
                  <p>Rainbow Bilingual College is the only pure boarding secondary school in the Menoua division</p>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 border_right">
      <div class="box_text">
        <div class="titlepage">
          <h2>Our <strong class="yellow"> Sections</strong></h2>
        </div>
        <p>
          With their combined experience in education, the founders, <strong>Chief Charles Morfaw</strong> and his wife, <strong>Lady Morene Morfaw</strong> , stand for challenging school education since 2003. 
          Our values convey the beliefs that positively influence our behaviour and the way we interact with individuals, groups and communities. They represent the deepest beliefs and sentiments to which we can aspire, and they shape our School community. These are the values that shape our School:
          Learning, Excellence, Leadership, Spirituality, Integrity & Community.
          We believe everyone should be equal, and we should all love and support each other and express ourselves the way we want to express ourselves and be whoever we want. Hence our motto:
          <strong>HARDWORK, PRAYERS, PATIENCE</strong>
        </p>
      </div>
    </div> 
  </div>
</div>
</div>
<!-- end Courses -->

<!-- learn -->


<div id="learn" class="learn">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="titlepage">
        <h2>Learn <strong class="yellow">the Leadership way</strong></h2>
        <span>We value leadership and teamwork, underpinned by a strong ethical and moral dimension and put to use in serving our community. The notion of gratitude and ‘giving back’ is an essential feature of our leadership programmes.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="learn_box">
        <figure><img src="{% static 'images/read.jpg' %}" alt="img"/></figure>
      </div>
    </div>
  </div>
</div>
</div>
<!-- MAKE --> 
<div class="make">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="titlepage">
        <h2>Make Your <strong class="white_colo">Dream Standout</strong></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
      <div class="make_text">
        <p>
          At Rainbow Secondary School, we believe that every student has the potential to achieve their dreams. That's why we offer a comprehensive curriculum and a supportive community to help our students reach their full potential.
          <br>
          But learning at Rainbow Secondary School is more than just academics. We also offer a wide range of extracurricular activities and clubs, from sports teams to music ensembles to community service groups. These opportunities will allow you to develop your skills, make new friends, and pursue your passions outside of the classroom.
          <br>
          So whether you're looking to prepare for college, explore your interests, or develop your skills, Rainbow Secondary School is the place for you. Take the first step towards making your dreams a reality by applying today.
        </p>
        <a href="#contact">Apply now</a>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
      <div class="make_img">
        <figure><img src="{% static 'images/8.jpg' %}"></figure>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end MAKE --> 
<!-- end learn --> 


<!-- contact -->
<div id="contact" class="contact">
<div class="container-fluid padding_left2">
  <div class="white_color">
    <div class="row">

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div id="map">
          
        </div>

      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

        <form class="contact_bg">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Contact Us<strong class="yellow"> to Apply</strong></h2>
              </div>
              <div class="col-md-12">
                <input class="contactus" placeholder="Your Name" type="text" name="Your Name">
              </div>
              <div class="col-md-12">
                <input class="contactus" placeholder="Your Email" type="text" name="Your Email">
              </div>
              <div class="col-md-12">
                <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone">
              </div>
              <div class="col-md-12">
                <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <button class="send" data-toggle="modal" data-target="#myModal">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- end contact -->



  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">RAINBOW SCHOOL COMPLEX</h4>
        </div>
        <div class="modal-body">
          <p>Thank you! We will get back to you shortly</p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary" data-dismiss="modal">ok! Thanks</a>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}